CNN_LeNet_5/__pycache__
CNN_LeNet_5/data

/MLP_LeNet_300/__pycache__
/MLP_LeNet_300/archived
/MLP_LeNet_300/data
/MLP_LeNet_300/gsp_models_trained



*.log
*.pth
*.pyc
*.mat
*.txt
*.out
*.err
*.md
*.sh
*.pt
*.gz
*.pkl

models.py
prune.py
quantization.py
AutoencoderSimple.py
gs_projection.py
main.py
projection.py
readme
huffmancoding.py
