cnn_lenet_5/__pycache__
cnn_lenet_5/data
cnn_lenet_5/old_LeNet5.py

/mlp_lenet_300/__pycache__
/mlp_lenet_300/archived
/mlp_lenet_300/data
/mlp_lenet_300/gsp_models_trained

cifar/data/
/cifer/test_resnet110.py

.vscode/settings.json


*.log
*.pth
*.pyc
*.mat
*.txt
*.out
*.err
*.md
*.sh
*.pt
*.gz
*.pkl
*.tar
*.meta
*.html
*.png
*.ipynb

models.py
prune.py
quantization.py
AutoencoderSimple.py
gs_projection.py
main.py
projection.py
readme
huffmancoding.py
